* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

input[type=file] {
  margin-bottom: 10px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.stars {
font-size: 0;
}

.stars p {
  font-size: 20px;
  padding: 3px;
}

.stars i {
font-size: 26px;
padding: 3px;
}

.stars:hover i,
.stars:not(:hover) .active{
color: orange;
}

.stars:hover i:hover ~ i {
color: inherit;
}

#csvTable {
  border-collapse: collapse;
}

#csvTable tr:nth-child(odd) {
  background: #f2f2f2;
}

#csvTable td {
  border: 1px solid #ddd;
  padding: 10px;
}

#csvTable tr:hover {
  background: rgb(220, 220, 180);
}